* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-principal: #f2b441;
  --cor-secundaria: #f2e8d5;
  --cor-texto: #402b11;
  --cor-detalhes: #8c7d32;
  --cor-verde: #6d7340;
}

@font-face {
  font-family: texGyreTermes;
  src: url(./fonts/texgyretermes-regular.otf);
}

body {
  font-family: textGyreTermes;
}

.banner {
  height: 100vh;
  padding: 40px;
  scroll-margin-top: 80px;
}
